/* Munchkin CSS Started March 2023 Kirk Mitchell */

*{
transition-duration: 250ms;}

@font-face {
font-family: 'neoclassical';
src: url('/neoclassical.woff') format('woff');
font-weight: normal;
font-style: normal;
}


body {width:100%;
height:100%;
min-width: 500px;
margin: 0;
padding: 0;
background-color:#f8edeb;
color:#6d6875;
text-shadow:1.5px 1.5px 2px #b5838d;
}


.main-title{
transform:rotate(90deg);
opacity:.3;
position:absolute;
right:-35px;
bottom:55px;
font-size:1.5em;
font-family: 'neoclassical', serif;
text-shadow:2px 2px 1px #fcd5ce;
}

a{
text-decoration: underline;
color:inherit;}

.flex-center{
display: flex;
justify-content: center;
text-align: center;
margin-left: auto;
margin-right:auto;}



.h1 {
font-family: 'neoclassical', serif;
font-size:2.5em;
margin-right:30px;
margin-left:30px;
margin-bottom:20px;
}

.p-normal {
font-family: 'neoclassical', serif;
font-size:1.8em;
margin-left: auto;
margin-right:auto;
}

.p-sm{
font-family:'Montserrat', sans-serif;
font-size:.8em;
font-weight: 300;}

/* Spacers */
#top-spacer{
margin-top:10px;}


/* Buttons */

.button{
justify-content: center;
width:250px;
color:#6d6875;
background-color:#e5989b;
text-shadow:2px 2px 1px #fcd5ce;
font-family: 'neoclassical', serif;
font-size:2em;
padding:5px 10px;
border:none;
margin-left:15px;
margin-right:15px;
border-radius:15px;
letter-spacing: .5px;
border-bottom:4px solid #fcd5ce;
border-right:4px solid #fcd5ce;
margin-bottom:20px;
display: flex;

}

.button:hover{
background-color:#6d6875;
color:#fcd5ce;
text-shadow:2px 2px 1px #e5989b;
border-bottom:1px solid #e5989b;
border-right:1px solid #e5989b;
font-size:2.1em;
}

.button:active{font-size:1.7em;}

/*inputs*/
input{color:#6d6875;
background-color: inherit;
border:2px solid #e5989b;
border-bottom:4px solid #fcd5ce;
border-right:4px solid #fcd5ce;
border-radius:15px;
margin-bottom:20px;
padding:10px 20px;
width:400px;
font-size:1.3em;
font-family:'neoclassical';
}

input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
font-family:'neoclassical';
color:#e5989b
}


ul{width:100%;
align-items: center;
list-style:none;
margin-left:auto;
margin-right:auto;
text-align: center;
justify-content: center;
padding:0px;
}

@media (max-width: 768px){
.flex-center{flex-direction: column;
align-items: center;
}

}